# Common
numpy
matplotlib
seaborn

python-dev

# NLP
nltk # предварительная обработка текста
gensim # word2vec
spacy #лематизация 

# Scikit-learn
scikit-learn

# Torch
torch
torchvision
torchaudio
torchtext

# HuggingFace
datasets

# Other
beautifulsoup4
pymorphy2 #
natasha #
pytorch-crf
pymystem3
pyLDAvis
