# Math and plot
numpy
matplotlib

# Scikit-learn
scikit-learn

# Torch
torch
torchvision
torchaudio
torchtext

# Torch CUDA
# install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118

# HuggingFace
transformers
datasets

# NLP
nltk # предварительная обработка текста
gensim # word2vec
spacy #лематизация 
pymorphy2
natasha
torchviz

# Other
beautifulsoup4
pytorch-crf
pymystem3
pyLDAvis
rouge
pyyaml
openpyxl
